body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f1f1;
    color: #090000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

.about-container {
    background-color: #faa8a8;
    padding: 50px;
    border: 2px solid #000;
    border-radius: 10px;
    max-width: 800px;
    text-align: left;
    position: relative;
    overflow: hidden;
}

.about-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
    position: relative;

}

.about-content h2 {
    font-size: 28px;
    margin-top: 30px;
    position: relative;
    animation: fade-in 1.5s ease-out;
}

.about-content p {
    font-size: 18px;
    line-height: 1.6;
    position: relative;
    animation: fade-in 1s ease-out;
}


/* Fade-in animation for subheadings and paragraphs */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.about-container::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(250, 168, 168, 0.1), rgba(0, 0, 0, 0));
    animation: rotate 10s infinite linear;
    z-index: -1;
    transform-origin: center;
}


